* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/dark-arch.jpg');
    background-color: rgb(28, 28, 28);
    color: rgb(195, 195, 195);
    font-family: "Noto Sans SC", sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    font-size: 1.125rem;
    background: rgb(10, 10, 10);
    border-bottom: 1px solid rgb(82, 207, 120);
    padding-bottom: 0.625rem;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.logo {
    display: inline-block;
    font-size: 1.375rem;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
}

.special-text {
    color: rgb(82, 207, 120);
}

.nav-links,
.logo {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.main-nav li {
    text-align: center;
    margin: 0.9375rem auto;
}

.navbar-toggle {
    position: absolute;
    top: 0.5rem;
    right: 1.0rem;
    cursor: pointer; 
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
}

/* toggle active class in main nav */
.active {
    display: block;
}

.large-space {
    height: 1.0rem;
}

.larger-space {
    height: 2.0rem;
}

#title {
    text-align: center;
    margin: 1.0rem;
    color: #fff;
}

#title--main {
    text-shadow: 2px 1px 1px rgb(10, 10, 10);
    font-weight: 700;
}

#title--sub {
    font-family: "Source Sans Pro", sans-serif;
    text-shadow: 2px 1px 1px rgb(10, 10, 10);
}

.flex-container {
    color: #fff;
}

.responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

h2 {
    line-height: 1.7rem;
}

.top-space {
    padding-top: 0.5rem;
    font-family: "Source Sans Pro", sans-serif;
}

.class {
    margin: 1.0rem;
    background: rgb(10, 10, 10);
    border: 1px solid rgb(82, 207, 120);
}

.class:hover {
    border: 1px solid rgb(159, 241, 184);
}

.class:hover h2{
    color: #fff;
}

.class--info {
    padding: 1.0rem;
}

.class--info-name {
    padding-bottom: 1.0rem;
}

.class--info-description {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

.class--info-name h2 {
    color: rgb(82, 207, 120);
    font-weight: 700;
}

footer {
    color: #fff;
    background: rgb(10, 10, 10);
    border-top: 1px solid rgb(82, 207, 120);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

#footer-btn {
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1.0rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
    border-radius: 10px;
    background-color: rgba(82, 207, 120, 1);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin: 0.5rem 0;
    cursor: pointer;
}

#footer-btn:hover {
    background: rgb(159, 241, 184);
}

.social {
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    padding: 0 0.2rem 0.2rem 0.2rem;
    font-size: 1.2rem;
}

.coffee-music--green-text {
    color: rgb(82, 207, 120);
}




/* MEDIA QUERIES 768 - 1200px */
@media screen and (min-width: 768px) {

    .flex-container {
        color: #fff;
        display: flex;
    }

    .responsive-img {
        border: none;
    }

    .class {
        flex: 1 1 25%;
    }
}

/* MEDIA QUERIES 1200px+ */
@media screen and (min-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 4.0rem;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 1.875rem;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 2.5rem;
    }

    .logo {
        margin-top: 0;
    }

   .navbar-toggle {
       display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgb(82, 207, 120, 1);
    }

    .flex-container {
        color: #fff;
        display: flex;
    }

    .responsive-img {
        border: none;
    }

    .class {
        display: flex;
        flex: 1 1 50%;
        margin: 1.0rem;
    }
}